<?xml version="1.0"?>

<!-- Copyright 2014 Arn-O. See the LICENSE file at the top-level directory of this distribution and at https://github.com/Arn-O/youbot_ros_tools/blob/master/LICENSE. -->

<launch>

  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false" output="screen" ns="/youbot"
        args="--namespace=/youbot
              arm_1_joint_position_controller
              arm_2_joint_position_controller
              arm_3_joint_position_controller
              arm_4_joint_position_controller
              arm_5_joint_position_controller 
              finger_left_joint_position_controller
              finger_right_joint_position_controller " />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find youbot_control)/config/youbot_control.yaml" command="load"/>

</launch>


