<?xml version="1.0"?>
<!-- Refactored by Arn-O -->
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  
  <!-- base -->
  <xacro:property name="base_pose_x" value="0.000" />
  <xacro:property name="base_pose_y" value="0.000" />
  <xacro:property name="base_pose_z" value="0.084" />

  <xacro:property name="base_mass" value="19.803" />

  <!-- wheels -->
  <xacro:property name="wheel_mass" value="1.400" />
  <xacro:property name="wheel_radius" value="0.050" />

  <xacro:property name="wheel_pose_x" value="0.228" />
  <xacro:property name="wheel_pose_y" value="0.158" />
  <xacro:property name="wheel_pose_z" value="-0.034" />

  <!-- plate -->
  <xacro:property name="plate_pose_x" value="-0.159" />
  <xacro:property name="plate_pose_y" value="0.000" />
  <xacro:property name="plate_pose_z" value="0.046" />

  <xacro:property name="plate_mass" value="2.397" />

  <!-- arm base -->
  <xacro:property name="arm_base_pose_x" value="0.143" />
  <xacro:property name="arm_base_pose_y" value="0.000" />
  <xacro:property name="arm_base_pose_z" value="0.046" />

  <xacro:property name="arm_base_mass" value="0.961" />

  <!-- arms parameter -->
  <xacro:property name="arm_joint_velocity" value="${M_PI * (90 / 180)}" />

  <!-- arm_1 -->
  <xacro:macro name="arm_1_joint" >
    <origin xyz="0.024 0.000 0.115" 
            rpy="${M_PI * (180 / 180)} ${M_PI * (0 / 180)} ${M_PI * (0 / 180)}" />
    <parent link="arm_base_link"/>
    <axis xyz="0 0 1" />
    <limit lower="${M_PI * (-169 / 180) }" upper="${M_PI * (169 / 180) }"
           effort="9.5" velocity="${arm_joint_velocity}" />
  </xacro:macro>

  <xacro:macro name="arm_1_inertial" >
    <mass value="1.390" />
    <origin xyz="0.015 0.004 0.031"
            rpy="${M_PI * (180 / 180)} ${M_PI * (20 / 180)} 0"/>
    <inertia ixx="0.0029525" iyy="0.0060091" izz="0.0058821"
             ixy="0.000" iyz="0.000" ixz="0.000" />
  </xacro:macro>

  <!-- arm_2 -->
  <xacro:macro name="arm_2_joint" >
    <!-- slightly different from the doc due to different conventions -->
    <origin xyz="0.033 0.000 0.000" 
            rpy="${M_PI * (90 / 180)} ${M_PI * (90 / 180)} ${M_PI * (0 / 180)}" />
    <parent link="arm_1_link"/>
    <axis xyz="0 0 1" />
    <limit lower="${M_PI * (-65 / 180) }" upper="${M_PI * (90 / 180) }"
           effort="9.5" velocity="${arm_joint_velocity}" />
  </xacro:macro>

  <xacro:macro name="arm_2_inertial" >
    <mass value="1.318" />
    <origin xyz="0.114 0.015 -0.019"
            rpy="0 ${M_PI * (90 / 180)} ${M_PI * (-90 / 180)}"/>
    <inertia ixx="0.0031145" iyy="0.0005843" izz="0.0031631"
             ixy="0.000" iyz="0.000" ixz="0.000" />
  </xacro:macro>

  <!-- arm_3 -->
  <xacro:macro name="arm_3_joint" >
    <origin xyz="0.155 0.000 0.000" 
            rpy="${M_PI * (0 / 180)} ${M_PI * (0 / 180)} ${M_PI * (-90 / 180)}" />
    <parent link="arm_2_link"/>
    <axis xyz="0 0 1" />
    <limit lower="${M_PI * (-151 / 180) }" upper="${M_PI * (146 / 180) }"
           effort="6.0" velocity="${arm_joint_velocity}" />
  </xacro:macro>

  <xacro:macro name="arm_3_inertial" >
    <mass value="0.821" />
    <origin xyz="0.000 0.104 0.020"
            rpy="0 0 ${M_PI * (90 / 180)}"/>
    <inertia ixx="0.00172767" iyy="0.00041967" izz="0.0018468"
             ixy="0.000" iyz="0.000" ixz="0.000" />
  </xacro:macro>

  <!-- arm_4 -->
  <xacro:macro name="arm_4_joint" >
    <origin xyz="0.000 0.135 0.000" 
            rpy="${M_PI * (0 / 180)} ${M_PI * (0 / 180)} ${M_PI * (0 / 180)}" />
    <parent link="arm_3_link"/>
    <axis xyz="0 0 1" />
    <limit lower="${M_PI * (-102.5 / 180) }" upper="${M_PI * (102.5 / 180) }"
           effort="10.0" velocity="${arm_joint_velocity}" />
  </xacro:macro>

  <xacro:macro name="arm_4_inertial" >
    <mass value="0.769" />
    <origin xyz="0.000 0.054 -0.025"
            rpy="${M_PI * (40 / 180)} ${M_PI * (180 / 180)} 0"/>
    <inertia ixx="0.0006764" iyy="0.0010573" izz="0.0006610"
             ixy="0.000" iyz="0.000" ixz="0.000" />
  </xacro:macro>

  <!-- arm_5 -->
  <xacro:macro name="arm_5_joint" >
    <origin xyz="0.000 0.114 0.000" 
            rpy=" ${M_PI * (-90 / 180)} ${M_PI * (0 / 180)} ${M_PI * (0 / 180)}" />
    <parent link="arm_4_link"/>
    <axis xyz="0 0 -1" />
    <limit lower="${M_PI * (-165 / 180) }" upper="${M_PI * (165 / 180) }"
           effort="10.0" velocity="${arm_joint_velocity}" />
  </xacro:macro>

  <xacro:macro name="arm_5_inertial" >
    <mass value="0.687" />
    <origin xyz="0.000 0.001 -0.016"
            rpy="0 ${M_PI * (90 / 180)} 0"/>
    <inertia ixx="0.0001934" iyy="0.0001602" izz="0.0000689"
             ixy="0.000" iyz="0.000" ixz="0.000" />
  </xacro:macro>

  <!-- gripper_base -->
  <xacro:property name="gripper_base_link_pose_x" value="0.000" />
  <xacro:property name="gripper_base_link_pose_y" value="0.000" />
  <xacro:property name="gripper_base_link_pose_z" value="0.057" />

  <xacro:property name="gripper_base_link_orient_y" value="${M_PI * (180 / 180)}" />
  <xacro:property name="gripper_base_link_orient_p" value="${M_PI * (0 / 180)}" />
  <xacro:property name="gripper_base_link_orient_r" value="${M_PI * (0 / 180)}" />

  <xacro:property name="gripper_base_link_mass" value="0.199" />

  <xacro:macro name="gripper_base_inertia" >
    <origin xyz="0.000 0.000 0.029"
            rpy="0 ${M_PI * (180 / 180)} ${M_PI * (90 / 180)}"/>
    <inertia ixx="0.0002324" iyy="0.0003629" izz="0.0002067"
             ixy="0.000" iyz="0.000" ixz="0.000" />
  </xacro:macro>

  <!-- fingers paramaters -->
  <xacro:property name="finger_joint_effort" value="10" />
  <xacro:property name="finger_joint_velocity" value="1" />

  <!-- finger_left -->
  <xacro:property name="finger_left_link_pose_x" value="0.000" />
  <xacro:property name="finger_left_link_pose_y" value="0.008" />
  <xacro:property name="finger_left_link_pose_z" value="0.000" />

  <xacro:property name="finger_left_axis" value="0 1 0" />

  <!-- TODO: the max value should be a parameter of the robot -->
  <xacro:property name="finger_left_limit_min" value="0" />
  <xacro:property name="finger_left_limit_max" value="0.013" />

  <xacro:property name="finger_left_link_mass" value="0.010" />

  <!-- finger_right -->
  <xacro:property name="finger_right_link_pose_x" value="0.000" />
  <xacro:property name="finger_right_link_pose_y" value="-0.008" />
  <xacro:property name="finger_right_link_pose_z" value="0.000" />

  <xacro:property name="finger_right_axis" value="0 -1 0" />

  <!-- TODO: the max value should be a parameter of the robot -->
  <xacro:property name="finger_right_limit_min" value="0" />
  <xacro:property name="finger_right_limit_max" value="0.013" />

  <xacro:property name="finger_right_link_mass" value="0.010" />

</robot>
